<style>
    footer {
        background-color: #061D25; /* Azul UMB */
        color: #cccccc; /* Gris claro para el texto */
        padding: 10px 20px;
        text-align: center;
        font-size: 0.85em;
        margin-top: 30px; /* Para separarlo del contenido principal */
    }
    footer h1 {
        margin: 0;
        font-weight: normal;
        font-size: 1em; /* Más pequeño para un footer */
    }
</style>
<footer>
    <h1>
        © 2025 Universidad Manuela Beltrán. Todos los derechos reservados.
    </h1>
</footer>